#
# ~/.xprofile
#
#

#default editor
EDITOR=/usr/bin/vim

#configure a good resolution
xrandr --newmode "1920x1080_60.00"  173.00  1920 2048 2248 2576  1080 1083 1088 1120 -hsync +vsync 
xrandr --addmode Virtual1 "1920x1080_60.00"
xrandr --output Virtual1 --mode "1920x1080_60.00"

#beep no more! 
xset -b

#set keyboard layout to internation us with no dead keys
setxkbmap -layout us -variant altgr-intl -option nodeadkeys


# if which dbus-launch >/dev/null && test -z "$DBUS_SESSION_BUS_ADDRESS"; then
#     eval "$(dbus-launch --sh-syntax --exit-with-session)"
# fi

# Environment variables
#

[[ -f ~/.extend.xprofile ]] && . ~/.extend.xprofile
